## EDA

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("data/HackathonDataDaily.csv")

In [3]:
print(df.shape)
list(df.columns)

(142224, 8)

['MeterID',
 'CurrentValue',
 'ValueString',
 'Time',
 'Building',
 'Unit',
 'Status',
 'StatusCode']

In [4]:
df.head(5)

,MeterID,CurrentValue,ValueString,Time,Building,Unit,Status,StatusCode
0,OSU_RTS.MDBUS_E3.001_E01,175564.012118,175564.01212,2018-03-22T14:50:10Z,BRICKER BUILDING E01,kWh,OK,3
1,OSU_RTS.MDBUS_E3.001_E01,178955.329931,178955.32993,2018-03-23T14:50:10Z,BRICKER BUILDING E01,kWh,OK,3
2,OSU_RTS.MDBUS_E3.001_E01,181938.049931,181938.04993,2018-03-24T14:50:10Z,BRICKER BUILDING E01,kWh,OK,3
3,OSU_RTS.MDBUS_E3.001_E01,184890.587292,184890.58729,2018-03-25T14:50:10Z,BRICKER BUILDING E01,kWh,OK,3
4,OSU_RTS.MDBUS_E3.001_E01,188171.454722,188171.45472,2018-03-26T14:50:10Z,BRICKER BUILDING E01,kWh,OK,3

In [5]:
print(len(df.Building.unique()))
df.Building.unique()

354

array(['BRICKER BUILDING E01', 'Oxley Electric Meter',
       'Kennedy Elec Consumption', 'WATTS HALL E02', 'SULLIVANT ELEC 1',
       'ARPS HALL E02', 'TORRES ELEC CONS', 'HOUSTON ELEC CONS',
       'RANEY ELEC CONS', 'BOWEN ELEC CONS', 'BUSCH ELEC CONS',
       'CURL HALL ELEC CONS', 'BLACKBURN ELEC CONS',
       'SCOTT HOUSE ELEC 1 CONS', 'N. REC ELEC CONS', 'NOSKER ELEC CONS',
       'SCOTT HOUSE ELEC 2 CONS', 'BRICKER CW HEAT FLOW',
       'OXLEY STM HEAT FLOW', 'WATTS ST HEAT FLOW',
       'BRICKER ST HEAT FLOW', 'KENNEDY STM HEAT FLOW',
       'TORRES CW HEAT FLOW', 'RANEY CW HEAT FLOW', 'BOWEN CW HEAT FLOW',
       'TORRES HW HEAT FLOW', 'SULLIVANT STM HEAT FLOW',
       'BUSCH CW HEAT FLOW', 'HOUSTON HW HEAT FLOW', 'RANEY HW HEAT FLOW',
       'CURL CW HEAT FLOW', 'ARPS HW HEAT FLOW', 'SCOTT HHW HEAT FLOW',
       'CURL HW HEAT FLOW', 'BLACKBURN CW HEAT FLOW',
       'SCOTT CW HEAT FLOW', 'NORTH REC CW HEAT FLOW',
       'N. REC HW HEAT FLOW', 'BRT STM HEAT FLOW', 'NOSKER CW HEAT FLOW',
       'BLACKBURN HW HEAT FLOW', 'SMITH SUB CW HEAT FLOW',
       'VMA CW HEAT FLOW', 'NOSKER HHW HEAT FLOW', 'PSYCH CW HEAT FLOW',
       'PSYCH STM HEAT FLOW', 'BOLZ/HITCH CW HEAT FLOW',
       'BOLZ STM HEAT FLOW', 'BOLZ CW HEAT FLOW',
       'JENNINGS STM HEAT FLOW', 'NEWMAN CW HEAT FLOW',
       'Smith Sub Meter #1 kWh', 'Smith Sub Meter #2 kWh',
       'BRT Elec Meter 2 Consum', 'BRT Elec Meter 1 Consum',
       'BOLZ HALL E01', 'BRT Elec Meter 3 Consum',
       'BRT Elec Meter 4 Consum', 'BOLZ HALL E02', 'NEWMAN WOLFROM E03',
       'NEWMAN WOLFROM E04', 'JENNINGS ELEC 1', 'HOPKINS HALL ELEC E01',
       'HOPKINS HALL ELEC E02', 'EVANS LAB E02', 'EVANS LAB E03',
       'Scott Lab Elec 1 Consum', 'EVANS LAB E04',
       'PSYCHOLOGY ELEC CONS 1', 'PSYCHOLOGY ELEC CONS 2',
       'Scott Lab Elec 2 Consum', 'OHIO UNION ELEC.CONSUMPT',
       '160 SAS consumption', 'NEWMAN WOLF ST HEAT FLOW',
       'EVANS LAB ST HEAT FLOW', 'SCOTT LAB STM HEAT FLOW',
       'SAS CW HEAT FLOW', 'EVANS LAB CW HEAT FLOW',
       'HOPKINS STM HEAT FLOW', 'KNOWLTON CW HEAT FLOW',
       'KNOWTON STM HEAT FLOW', 'TZAGOURNIS STM HEAT FLOW',
       'STAR/LOVE ST HEAT FLOW', 'GOSS BYPASS CW HEAT FLOW',
       'CAMPBELL CW HEAT FLOW', 'CAMPBELL STM HEAT FLOW',
       'MATH BLDG CW HEAT FLOW', 'PAES ST HEAT FLOW',
       'RPAC CALC CW HEAT FLOW', 'PAES CW HEAT FLOW',
       'ICE RINK STM HEAT FLOW', 'OHIO UNION HEAT FLOW',
       'MATH BLD HW HEAT FLOW', 'SAS STM HEAT FLOW',
       'RPAC M2 CW HEAT FLOW', 'MCCORKLE DP HW HEAT FLOW',
       'MCCORKLE CP HW HEAT FLOW', 'RPAC STM HEAT FLOW',
       'RPAC M5 HW HEAT FLOW', 'FISHER CW HEAT FLOW',
       'RPAC M4 HW HEAT FLOW', 'CBEC CW HEAT FLOW',
       'RPAC M6 HW HEAT FLOW', 'SCHOENBAUM STM HEAT FLOW',
       'CBEC STM HEAT FLOW', 'DERBY STM HEAT FLOW', 'MASON STM HEAT FLOW',
       '160 elec consumption', 'Tzagournis Elec meter 2',
       'STARLING LOVING HALL E01', 'STARLING LOVING HALL E02',
       'STARLING LOVING HALL E03', 'CAMPBELL HALL E01',
       'CAMPBELL HALL E02', 'GOSS LAB E01', 'KNOWLTON HALL E01',
       'Tzagournis Elec meter 1', 'GOSS CHILLER ELEC METER',
       'MATH BLDG ELEC 1', 'PAES E03', 'MATH BLDG ELEC 2', 'PAES E08',
       'RPAC Solar panels tot re', 'CBEC SWGR A METER LEFT',
       'CBEC SWGR B METER LEFT', 'RPAC MSB1', 'DERBY HALL E01',
       'DERBY HALL E02', 'RPAC MSB2', 'CBEC SWGR B METER RIGHT',
       'FISHER HALL ELEC CONS', 'CBEC SWGR A METER RIGHT',
       'SCHOENBAUM HALL ELEC 1', 'MASON HALL ELEC CONS',
       'RIFFE BUILDING E01', 'RIFFE BUILDING E02', 'PARKS HALL E02',
       'PARKS HALL E01', 'PARKS HALL E03', 'HITCHCOCK HALL E01',
       'BioSciences Elec Meter 3', 'NEWTON ELEC 1',
       'Dreese lab E2 consumptio', 'Dreese Elec 3Consumption',
       'BioSciences Elec meter 1', 'BioSciences Elec meter 2',
       'DREESE ELECTRIC', 'SCHOENBAUM CW HEAT FLOW',
       'BLACKWELL CW HEAT FLOW', 'BLACKWELL STM HEAT FLOW',
       '12TH AVE EAST ST HEAT FL', 'MASON CW HEAT FLOW',
       '12TH AVE WEST HEAT FLOW', 'HALE HALL ST HEAT FLOW',
       'CALDWELL CW HEAT FLOW', 'RIFFE ST HEAT FLOW',
       'HITCHCOCK CW HEAT FLOW', 'MORRILL KIT.STM.HEAT FLO',
       'HITCHCOCK HALL ST HT FLO', 'PARK STM HEAT FLOW',
       'MORRILL STM HEAT FLOW', 'NEWTON STM HEAT FLOW',
       'BIOSCI STM HEAT FLOW', 'BIOSCI CW HEAT FLOW',
       'DREESE CW HEAT FLOW', 'BAKER BMNT CW HEAT FLOW',
       'DREESE STM HEAT FLOW', 'BAKER PENT CW HEAT FLOW',
       'EQUINE CW HEAT FLOW', 'CUNZ HW HEAT FLOW',
       'BAKER SYS STM HEAT FLOW', 'CUNZ ST HEAT FLOW',
       'CUNZ CW HEAT FLOW', 'DRAKE STM HEAT FLOW',
       'VET HOSP CW HEAT FLOW', 'AG ENGIN STM HEAT FLOW',
       'VET HOSP STM HEAT FLOW', 'AG ADMIN STM HEAT FLOW',
       'DULLES CW HEAT FLOW', 'PRIOR STM HEAT FLOW',
       'INDEPEND CW HEAT FLOW', 'UHALL HW HEAT FLOW',
       'DENNEY HW HEAT FLOW', 'U-HALL CW HEAT FLOW',
       'WEIGEL HALL HW HEAT FLOW', 'ROSS CW HEAT FLOW',
       'KOTTMAN STM HEAT FLOW', 'RHODES CW HEAT FLOW',
       '395 W.12TH STM HEAT FLOW', 'HAGERTY HALL ST HT FLOW',
       'CELESTE CW HEAT FLOW', 'CELESTE ST HEAT FLOW',
       'BRAIN & SPIN CW HEAT FLO', 'CCCT STM HEAT FLOW',
       'ERCWP CW HEAT FLOW', 'CCCT CW HEAT FLOW',
       'WEXNER CNTR. ST HEAT FLO', 'SCCCP CW HEAT FLOW',
       'BRAIN / SPINE ST HEAT FL', 'WATER TRTMNT ST HEAT FLO',
       'ERCWP STM HEAT FLOW', '209 W 18 CW HEAT FLOW',
       'LAZENBY CW HEAT FLOW', 'JOURNALISM CW HEAT FLOW',
       'HAMILTON STEAM HEAT FLOW', '209 HW HEAT FLOW',
       'THOMPSON CW HEAT FLOW', 'DRINKO STM HEAT FLOW',
       'SEL CW HEAT FLOW', 'SEL STM HEAT FLOW', 'MCPHERSON CW HEAT FLOW',
       'MCPHERSON ST HEAT FLOW', 'MENDENAHALL ST HEAT FLOW',
       'ORTON HALL HW HEAT FLOW', 'CALDWELL STM HEAT FLOW',
       'MERSHON STM HEAT FLOW', 'SMITH LAB ST HEAT FLOW',
       'POMERENE HALL ST HT FLOW', 'FRY STM HEAT FLOW',
       'SMITH LAB CW HEAT FLOW', 'MCCRACKEN CW HEAT FLOW',
       'PAGE STM HEAT FLOW', 'MCCRACKEN ST 1 HEAT FLOW',
       'MCCRACKEN ST 3 HEAT FLOW', 'MCCRACKEN ST 2 HEAT FLOW',
       'MATH TWR CW HEAT FLOW', 'PRB CW HEAT FLOW',
       'ENERSON CW HEAT FLOW', 'PRB STM HEAT FLOW',
       'ST.JOHN STM HEAT FLOW', 'CNTRL SRVS HW HEAT FLOW',
       'SISSON CW HEAT FLOW', 'MATH TWR HW HEAT FLOW',
       'P-S PARK CW HEAT FLOW', 'P-S STRADLEY CW HEAT FLO',
       'SCHOTT STM HEAT FLOW', 'OHIO STAD. STM HEAT FLOW',
       'SMITH STEEB CW HEAT FLOW', 'HALE STEAM HEAT FLOW',
       'TOWNSHEND CW HEAT FLOW', 'BLACKWELL ELEC CONS',
       'Baker Systems Consum E01', 'CUNZ ELEC CONS SB-1',
       'Dreese Elec 4Consumption', 'AG ENG ELEC 1',
       'VET HOSP CHILLER 1 ELEC', 'DRAKE UNION ELEC',
       'VET HOSP CHILLER 5 ELEC', 'AG ENG ELEC 2',
       'VET HOSP CHILLER 2 ELEC', 'VET HOSP CHILLER 4 ELEC',
       'VET HOSP CHILLER 3 ELEC', 'VET HOSP GEAR E2', 'VET HOSP GEAR E1',
       'DOAN CW HEAT FLOW', 'SMITH-STEEB HW HEAT FLOW',
       'TOWNSHEND STM HEAT FLOW', 'P-S STEAM HEAT FLOW',
       'SIEBERT HW HEAT FLOW', 'SIEBERT STEAM HEAT FLW',
       'VET HOSP GEAR E5', 'CUNZ ELEC CONS SB-2',
       'Vet Hosp Gear E3 consump', 'DENNEY HALL E01', 'DENNEY HALL E02',
       'AG ADMIN ELEC 1', 'DULLES HALL E01', 'INDEPENDENCE HALL E01',
       'UNIVERSITY HALL E01', 'Vet Hosp Gear E4 Consump',
       'KOTTMAN HALL E01', 'KOTTMAN HALL E02', 'WEIGEL HALL E01',
       'KOTTMAN HALL E03', '395 W 12th ave E 1', 'HAGERTY HALL EO1',
       'CELESTE LAB E01', 'CELESTE LAB E02', '395 W 12th Ave E 2',
       'CELESTE LAB E03', 'CELESTE LAB E04', 'CCCT 1B', 'CCCT 1A',
       'CCCT 2A', 'CCCT 2B', 'CCCT 3A', 'CCCT 3B', 'AU BON PAIN ELEC',
       'CCCT 4A', 'CCCT 4B', 'ERCWP E2 CONSUMPTION',
       'ERCWP E1 CONSUMPTION', 'WEXNER CENTER E01', 'WEXNER CENTER E02',
       'WEXNER CENTER E03', 'ERCWP E3 CONSUMPTION',
       'ERCWP E4 CONSUMPTION', 'SCCCP ION 206C', 'SCCCP ION 100C',
       'SCCCP ION 205C', 'Water Plant S. Electric',
       'Water Plant N. Electric', 'LAZENBY HALL E01',
       'JOURNALISM BUILDING E03', 'DRINKO HALL E01', 'SCCCP ION 300C',
       'DRINKO HALL E02', 'SCCCP ION 200C', 'DRINKO HALL E04',
       '18TH AVE LIBRARY E01', '18TH AVE LIBRARY E02',
       'Thompson Usage E02', 'MCPHERSON ELEC CONS 1',
       'MERSHON AUDITORIUM E03', 'MERSHON AUDITORIUM E04',
       'ORTON HALL ELEC E01', 'PAGE HALL E01', 'SMITH LAB E01',
       'MCPHERSON ELEC CONS 2', 'SMITH LAB E02', 'Thompson Usage E01',
       'SMITH LAB E04', 'POMERENE HALL E01', 'Mendenhall elec consum',
       'MCCRACKEN ION 401', 'MCCRACKEN ION 604',
       'MCCRACKEN RM 325 CLG TWR', 'MCCRACKEN CW PUMP 4',
       'MCCRACKEN TW PUMP 5', 'MCCRACKEN SUB 3', 'MCCRACKEN SUB 4',
       'MATH TOWER ELEC 2', 'MCCRACKEN SUB 5', 'MATH TOWER ELEC 1',
       'CENTRAL SERVICE BLDG E01', 'SISSON HALL E02',
       'PRB Electric Meter 2 Con', 'SCHOTT E1 MS1 E07',
       'SCHOTT E3 US3 E03', 'SCHOTT E2 MS2 E01', 'SCHOTT E4 US4 E02',
       'SCHOTT E7 US5 E04', 'SCHOTT E8 US6 E05', 'PRB Electric Meter 1',
       'SCHOTT E6 US1 E06', 'P-S Electrical Cousum 3',
       'P-S Electrical Consum 2', 'PARK STRADLEY ELECTRIC 1',
       'Hale Elec Consumption', 'TOWNSHEND HALL E01',
       'P-S Electrical Consum 4', 'P-S Electrical Consum 5',
       'SIEBERT ELEC CONS', 'SMITH-STEEB ELEC CONS'], dtype=object)

In [7]:
df.groupby(['Building']).agg({'CurrentValue' : [np.min, np.max]}).head(3)

                          CurrentValue
                                  amin          amax
Building
12TH AVE EAST ST HEAT FL -1.110627e+04  2.665157e+03
12TH AVE WEST HEAT FLOW   4.133206e+03  1.463089e+04
160 SAS consumption       2.588415e+06  3.248129e+06

In [8]:
print(len(df[df.MeterID == "OSU_RTS.MDBUS_RH.1102_HHF"]))
df[df.MeterID == "OSU_RTS.MDBUS_RH.1102_HHF"].head(5)

730

,MeterID,CurrentValue,ValueString,Time,Building,Unit,Status,StatusCode
12299,OSU_RTS.MDBUS_RH.1102_HHF,529.772264,529.772264,2017-01-01T00:00:00Z,HOUSTON HW HEAT FLOW,KBTU/HR,OK,2051
12300,OSU_RTS.MDBUS_RH.1102_HHF,380.548308,380.548308,2017-01-02T00:00:00Z,HOUSTON HW HEAT FLOW,KBTU/HR,OK,2051
12301,OSU_RTS.MDBUS_RH.1102_HHF,149.572115,149.572115,2017-01-03T00:00:00Z,HOUSTON HW HEAT FLOW,KBTU/HR,OK,2051
12302,OSU_RTS.MDBUS_RH.1102_HHF,876.177228,876.177228,2017-01-04T00:00:00Z,HOUSTON HW HEAT FLOW,KBTU/HR,OK,2051
12303,OSU_RTS.MDBUS_RH.1102_HHF,1318.082289,1318.082289,2017-01-05T00:00:00Z,HOUSTON HW HEAT FLOW,KBTU/HR,OK,2051

### Config

In [9]:
config = pd.read_csv("data/HackathonConfig.csv")

In [70]:
# config.columns = ['BuildingID', 'MeterID', 'Description', 'Units', 'Resource', 'BuildingName', 'GrossSquareFeet', 'BuildDate', 'Latitude', 'Longitude', 'Campus', 'Organization', 'LocationType', 'SteamSourceID', 'ChilledWaterSourceID', 'HotWaterSourceID', 'ActivationDate']
# config.to_csv("data/HackathonConfigClean.csv", index = False)

In [10]:
print(config.shape)
list(config.columns)

(355, 17)

['BuildingID',
 'MeterID',
 'Description',
 'Units',
 'Resource',
 'BuildingName',
 'GrossSquareFeet',
 'BuildDate',
 'Latitude',
 'Longitude',
 'Campus',
 'Organization',
 'LocationType',
 'SteamSourceID',
 'ChilledWaterSourceID',
 'HotWaterSourceID',
 'ActivationDate']

In [11]:
config.head(5)

,BuildingID,MeterID,Description,Units,Resource,BuildingName,GrossSquareFeet,BuildDate,Latitude,Longitude,Campus,Organization,LocationType,SteamSourceID,ChilledWaterSourceID,HotWaterSourceID,ActivationDate
0,1102,OSU_RTS.MDBUS_RH.1102_HHF,HOUSTON HW HEAT FLOW,KBTU/HR,Heating Hot Water,Houston House,136557.0,2016-07-01,40.00581,-83.01166,Main,SDL,Student Housing,NaN,NaN,NaN,2016-12-31T23:59:57Z
1,1103,OSU_RTS.MDBUS_RH.1103_HHF,RANEY HW HEAT FLOW,KBTU/HR,Heating Hot Water,Raney House,125474.0,2015-07-01,40.00547,-83.01003,Main,SDL,Student Housing,NaN,NaN,NaN,2016-12-31T23:59:57Z
2,1103,OSU_RTS.MDBUS_RH.1103C_HF,RANEY CW HEAT FLOW,KBTU/HR,Chilled Water,Raney House,125474.0,2015-07-01,40.00547,-83.01003,Main,SDL,Student Housing,NaN,NaN,NaN,2018-09-20T20:30:31Z
3,1104,OSU_RTS.MDBUS_RH.1104C_HF,BOWEN CW HEAT FLOW,KBTU/HR,Chilled Water,Bowen House,95448.0,2015-07-01,40.00536,-83.00942,Main,SDL,Student Housing,NaN,NaN,NaN,2018-09-20T20:33:18Z
4,1105,OSU_RTS.MDBUS_RH.1105C_HF,BUSCH CW HEAT FLOW,KBTU/HR,Chilled Water,Busch House,109926.0,2016-07-01,40.00475,-83.00930,Main,SDL,Student Housing,NaN,NaN,NaN,2018-09-20T20:35:58Z

## Merge Daily Data & Config

In [12]:
merged = df.merge(config, on = "MeterID")

In [13]:
print(merged.shape)
list(merged.columns)

(142224, 24)

['MeterID',
 'CurrentValue',
 'ValueString',
 'Time',
 'Building',
 'Unit',
 'Status',
 'StatusCode',
 'BuildingID',
 'Description',
 'Units',
 'Resource',
 'BuildingName',
 'GrossSquareFeet',
 'BuildDate',
 'Latitude',
 'Longitude',
 'Campus',
 'Organization',
 'LocationType',
 'SteamSourceID',
 'ChilledWaterSourceID',
 'HotWaterSourceID',
 'ActivationDate']

In [14]:
merged.Resource.unique()

array(['Electricity', 'Chilled Water ', 'Steam', 'Heating Hot Water'],
      dtype=object)

In [18]:
for resource in merged.Resource.unique():
    print(resource)
    print(merged.Units[merged.Resource == resource].head(1))

Electricity
0    kWh
Name: Units, dtype: object
Chilled Water
10478    KBTU/HR
Name: Units, dtype: object
Steam
10705    KBTU/HR
Name: Units, dtype: object
Heating Hot Water
11789    KBTU/HR
Name: Units, dtype: object

In [76]:
# Not every building has every type of resource
print(len(merged.BuildingName.unique())) # from congif
print(len(merged.Resource.unique())) # from config
print(len(merged.Building.unique())) # from data (df)

109
4
354

In [77]:
merged.groupby(['LocationType', 'BuildingName', 'Resource']).agg({'CurrentValue' : [np.min, np.max]}).head(3)

                                                                                   CurrentValue  \
                                                                                           amin
LocationType BuildingName                                       Resource
Academic     Arps, George F, Hall                               Electricity        2.718341e+05
                                                                Heating Hot Water  0.000000e+00
             Baker, David F, Systems Engineering Building (The) Chilled Water     -2.747070e+35


                                                                                           amax
LocationType BuildingName                                       Resource
Academic     Arps, George F, Hall                               Electricity        1.308294e+06
                                                                Heating Hot Water  2.494939e+03
             Baker, David F, Systems Engineering Building (The) Chilled Water      1.400806e+03

In [78]:
merged[merged.BuildingName.str.contains("Scott").fillna(False)].head(3)

,MeterID,CurrentValue,ValueString,Time,Building,Unit,Status,StatusCode,BuildingID,Description,...,BuildDate,Latitude,Longitude,Campus,Organization,LocationType,SteamSourceID,ChilledWaterSourceID,HotWaterSourceID,ActivationDate
7558,OSU_RTS.MDBUS_RH.1108_EC1,1.372626e+06,1.372626e+06,2017-01-01T00:00:00Z,SCOTT HOUSE ELEC 1 CONS,kWh,OK,2051,1108,SCOTT HOUSE ELEC 1 CONS,...,2015-07-01,40.00439,-83.01339,Main,SDL,Student Housing,NaN,NaN,NaN,2016-12-31T23:59:32Z
7559,OSU_RTS.MDBUS_RH.1108_EC1,1.374825e+06,1.374825e+06,2017-01-02T00:00:00Z,SCOTT HOUSE ELEC 1 CONS,kWh,OK,2051,1108,SCOTT HOUSE ELEC 1 CONS,...,2015-07-01,40.00439,-83.01339,Main,SDL,Student Housing,NaN,NaN,NaN,2016-12-31T23:59:32Z
7560,OSU_RTS.MDBUS_RH.1108_EC1,1.377046e+06,1.377046e+06,2017-01-03T00:00:00Z,SCOTT HOUSE ELEC 1 CONS,kWh,OK,2051,1108,SCOTT HOUSE ELEC 1 CONS,...,2015-07-01,40.00439,-83.01339,Main,SDL,Student Housing,NaN,NaN,NaN,2016-12-31T23:59:32Z

In [79]:
merged.BuildingName[merged.LocationType == "Student Housing"].unique()

array(['Kennedy, June F, Commons', 'Torres House', 'Houston House',
       'Raney House', 'Bowen House', 'Busch House', 'Curl Hall',
       'Blackburn House', 'Scott House', 'Nosker House', 'Ohio Union',
       'Recreation and Physical Activity Center',
       'Morrill, Justin S, Tower', 'Park-Stradley Hall',
       'Smith-Steeb Hall', 'Siebert Hall'], dtype=object)

## Merge with Dorm Capacity

In [80]:
dorms = pd.read_csv("data/dorm_data.csv")

In [81]:
print(dorms.shape)
list(dorms.columns)

(41, 6)

['DormName', 'OnePR', 'TwoPR', 'ThreePR', 'FourPR', 'NumOccupants']

In [82]:
dorms.head(5)

          DormName  OnePR  TwoPR  ThreePR  FourPR  NumOccupants
0     Archer House     20     42        0       0            62
1  Baker Hall East     72    113       17       0           202
2  Baker Hall West     79    125       24       2           230
3    Barrett House      0     15       11      28            54
4  Blackburn House     13    210        0      56           279

In [83]:
print(len(dorms.DormName.unique()))
dorms.DormName.unique()

41

array(['Archer House', 'Baker Hall East', 'Baker Hall West',
       'Barrett House', 'Blackburn House', 'Bowen House', 'Bradley Hall',
       'Busch House', 'Canfield Hall', 'Drackett Tower', 'Fechko House',
       'German House', 'Halloran House', 'Hanley House',
       'Haverfield House', 'Houck House', 'Houston House', 'Jones Tower',
       'Lawrence Tower', 'Lincoln Tower', 'Mack Hall', 'Mendoza House',
       'Morrill Tower', 'Morrison Tower', 'Neil Avenue', 'Norton House',
       'Nosker House', 'Park-Stradley Hall', 'Paterson Hall',
       'Pennsylvania Place', 'Pomerene House', 'Raney House',
       'Scholars East', 'Scholars West', 'Scott House', 'Siebert Hall',
       'Smith-Steeb Hall', 'Taylor Tower', 'The Residence on Tenth',
       'Torres House', 'Worthington Building'], dtype=object)

In [84]:
# merged.BuildingName[merged.BuildingName.str.contains("Morrill").fillna(False)] = "Morrill Tower" # SetWithCopy Warning!
merged.loc[merged.BuildingName.str.contains("Morrill").fillna(False), 'BuildingName'] = "Morrill Tower" # use loc to fix

In [85]:
full = merged.merge(dorms, left_on = "BuildingName", right_on = "DormName", how = "left")

In [86]:
print(full.shape)
list(full.columns)

(142224, 30)

['MeterID',
 'CurrentValue',
 'ValueString',
 'Time',
 'Building',
 'Unit',
 'Status',
 'StatusCode',
 'BuildingID',
 'Description',
 'Units',
 'Resource',
 'BuildingName',
 'GrossSquareFeet',
 'BuildDate',
 'Latitude',
 'Longitude',
 'Campus',
 'Organization',
 'LocationType',
 'SteamSourceID',
 'ChilledWaterSourceID',
 'HotWaterSourceID',
 'ActivationDate',
 'DormName',
 'OnePR',
 'TwoPR',
 'ThreePR',
 'FourPR',
 'NumOccupants']

In [87]:
print(len(full.BuildingName[merged.LocationType == "Student Housing"].unique()))
print(full.BuildingName[merged.LocationType == "Student Housing"].unique())
dorms_in_engie = full.BuildingName[merged.LocationType == "Student Housing"].unique()
# dorms_in_both = full.BuildingName[merged.LocationType == "Student Housing"].unique() # for outer join
# print(len(dorms_in_both)) # Correct!
# dorms_in_both

16
['Kennedy, June F, Commons' 'Torres House' 'Houston House' 'Raney House'
 'Bowen House' 'Busch House' 'Curl Hall' 'Blackburn House' 'Scott House'
 'Nosker House' 'Ohio Union' 'Recreation and Physical Activity Center'
 'Morrill Tower' 'Park-Stradley Hall' 'Smith-Steeb Hall' 'Siebert Hall']

In [88]:
# set(dorms_in_engie) - set(dorms_in_both)

In [90]:
full[full.LocationType == "Student Housing"].groupby(['LocationType', 'BuildingName', 'Resource']).agg({'CurrentValue' : [np.min, np.max], 'NumOccupants' : [np.min, np.max]}).head(3)

                                                   CurrentValue                \
                                                           amin          amax
LocationType    BuildingName    Resource
Student Housing Blackburn House Chilled Water      2.973204e+01  1.733012e+03
                                Electricity       -2.183528e+07  2.845196e+07
                                Heating Hot Water  0.000000e+00  1.325855e+03

                                                  NumOccupants
                                                          amin   amax
LocationType    BuildingName    Resource
Student Housing Blackburn House Chilled Water            279.0  279.0
                                Electricity              279.0  279.0
                                Heating Hot Water        279.0  279.0

In [91]:
full.to_csv("data/energy_and_dorm_capacity.csv", index = False)

## Unaccumulating Electricity

In [ ]:
# TOOD